<p id="notice"><%= notice %></p>

<h1>MUG NANT 超業餘小型友誼聯賽</h1>

<div class="col-md-offset-2 col-md-8 col-md-offset-2">
<table class="table table-striped">
<thead>
<tr>
<th>#</th>
<th>Date</th>
<th>賽事</th>
<th>分數</th>
<th colspan="5"></th>
</tr>
</thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.time.to_date %></td>
        <td><%= link_to event.name, event %></td>
        <td><%= event.homescore %> vs <%= event.awayscore %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event', new_event_path %>
